* {
    margin: 0 auto;
    padding: 0;
}
.gb_i {
    display: flex;
    padding: 5px;
    width: 40px;
    color: #5F6368;
}
.gb_i:hover {
    padding: 5px;
    background-color: #F0F0F0;
    border-radius: 50%;
}
.hidden {
    padding: 20px;
    margin-top: 20px;
    border: 10px solid #E9EEF6;
    border-radius: 10%;
    width: 400px;
    height: 450px;
    display: none;
    overflow: auto;
  }
.hidden1 {
    display: flex;
    column-count: 3;
    column-gap: 30px;
    font-size: 60px;
    margin-bottom: 30px;
    justify-content: center;
}
.hidden2 {
    display: flex;
    column-count: 3;
    column-gap: 30px;
    font-size: 60px;
    margin-bottom: 30px;
    justify-content: center;
}
.hidden3 {
    display: flex;
    column-count: 3;
    column-gap: 30px;
    font-size: 60px;
    margin-bottom: 30px;
    justify-content: center;
}
.hidden4 {
    display: flex;
    column-count: 3;
    column-gap: 30px;
    font-size: 60px;
    margin-bottom: 30px;
    justify-content: center;
}
.hidden1 a  {
    text-decoration: none;
    color: #333;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
}
.hidden2 a  {
    text-decoration: none;
    color: #333;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
}
.hidden3 a  {
    text-decoration: none;
    color: #333;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
}
.hidden4 a  {
    text-decoration: none;
    color: #333;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;    
}
.hidden1 span {
    font-size: small;
    margin-top: 10px;
}
.hidden2 span {
    font-size: small;
    margin-top: 10px;
}
.hidden3 span {
    font-size: small;
    margin-top: 10px;
}
.hidden4 span {
    font-size: small;
    margin-top: 10px;
}
.gg-drive {
    padding: 10px;
}
.gg-play {
    padding: 10px;
}
.gg-pay {
    padding: 10px;
}
.gg-drive:hover {
    border: 1px solid #E9EEF6;
    background-color: #E9EEF6;
    border-radius: 15%;
}
.gg-play:hover {
    border: 1px solid #E9EEF6;
    background-color: #E9EEF6;
    border-radius: 15%;
}
.gg-pay:hover {
    border: 1px solid #E9EEF6;
    background-color: #E9EEF6;
    border-radius: 15%;
}